/* 全局默认鼠标指针 */
body,
html{
    cursor: url('/butterfly/cursor/select.cur'),auto !important;
}
/* 悬停图片时的鼠标指针 */
img{
    cursor: url('/butterfly/cursor/select1.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('/butterfly/cursor/select2.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('/butterfly/cursor/write.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('/butterfly/cursor/button.cur'),auto;
}